@font-face {	font-family: Pacfont; src: url('../fonts/PAC-FONT.TTF');	}
@font-face {	font-family: Bitfont; src: url('../fonts/BIT-FONT.TTF');	}

body {	background-color: #333;}

/* Main viewport */
div#viewport {
	width: 100%;
	text-align: center;
}

div#viewport h1 {	font-family: Pacfont, sans-serif; color: yellow;	}
div#viewport h3 {	font-family: Bitfont, sans-serif; color: yellow;	}

/* Canvas where the actual game is */
canvas#gamespace {
	width:	560px;
	height:	514px;
	margin: 3% 0 3% 0;
}

/* Footer */
footer {
	font-family: Bitfont, sans-serif; 
	text-align: center;
	color: yellow;
}

footer a {	color: yellow; text-decoration: none;	}
footer a:hover {	text-decoration: underline;	}