@font-face {	font-family: Pacfont; src: url('../fonts/PAC-FONT.TTF');	}
@font-face {	font-family: Bitfont; src: url('../fonts/BIT-FONT.TTF');	}

body {	background-color: #333; font-family: Bitfont, sans-serif; color: yellow;}

/* Main viewport */
div#viewport {
	width: 100%;
	text-align: center;
}

div#viewport h1 {	font-family: Pacfont, sans-serif; color: yellow;	}
div#viewport h3 {	font-family: Bitfont, sans-serif; color: yellow;	}

/* Canvas where the actual game is */
canvas#gamespace {
	margin: 3% auto;
	width: 50%;
}

/* Footer */
footer {
	font-family: Bitfont, sans-serif; 
	text-align: center;
	color: yellow;
}

div#hints a { color: yellow; text-decoration: none; font-weight: bold; }
div#hints a:hover {	text-decoration: underline;	}
div#hints p { 
	font-style: italic; 
	font-weight: bold;
	color:white; 
	display: none; 
	background-color: black; 
	width: 100%;
	padding: 5px 0px 5px 0px;
	margin-bottom: 0px;
}

footer a {	color: yellow; text-decoration: none;	}
footer a:hover {	text-decoration: underline;	}
